.logo{
background-image: url(../images/logo.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: bottom;
height: 55vh;
margin-bottom: 10px;
background-color: green;
}
.navi {
	padding:5px;
	margin: 10px;
  background: white;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 10px;
	grid-gap: 10px;
	margin: 0px;
}

.menu a {
	text-decoration: none;
}

.menu li {
	padding: 10px;
	text-align: center;
	list-style: none;
}
li:hover {
	background: white;
	color: green;
	font: arial;
}
.home {
	background:green;
	color: white;
	font-family: Verdana;
	list-style:none;
	padding:20px;
	font-size: 20px;
	text-align: center;
}
.services {
	background:green;
	color: white;
	font-family: Verdana;
	list-style:none;
	padding:20px;
	font-size: 20px;
	text-align: center;
}
.photos {
	background:green;
	color: white;
	font-family: Verdana;
	list-style:none;
	padding:20px;
	font-size: 20px;
	text-align: center;
}
.contact {
	background:green;
	color: white;
	font-family: Verdana;
	list-style:none;
	padding:20px;
	font-size: 20px;
	text-align: center;
}
.about {
  padding: 30px;
  height: 15vh;
  background: green;
  margin: 10px;
  grid-gap:10px;
}

.about-text {
	color: white;
	font-family: Verdana;
	text-align: center;
	font-size: 60px;
	margin-top: 10px;
	}
.about1{
	padding: 15px;
	height: 10vh;
	background: green;
	margin: 10px;
	grid-gap:10px;
}
.about1-text{
	color: white;
	font-family: Verdana;
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
}
.box{
	background:green;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3px;
	height: 40vh;
	margin: 10px;
}
.first{
	margin: 20px;
	background-image: url(../images/img1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.second{
	margin: 20px;
	background-image: url(../images/img2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.third{
	margin: 20px;
	background-image: url(../images/img3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.first1{
	margin: 20px;
	background-image: url(../images/photo1.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.second1{
	margin: 20px;
	background-image: url(../images/photo2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.third1{
	margin: 20px;
	background-image: url(../images/photo3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.first2{
	margin: 20px;
	background-image: url(../images/img4.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.second2{
	margin: 20px;
	background-image: url(../images/img5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.third2{
	margin: 20px;
	background-image: url(../images/img6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.first3{
	margin: 20px;
	background-image: url(../images/img7.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.second3{
	margin: 20px;
	background-image: url(../images/img8.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.third3{
	margin: 20px;
	background-image: url(../images/img9.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.first4{
	margin: 20px;
	background-image: url(../images/img10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.second4{
	margin: 20px;
	background-image: url(../images/img11.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.third4{
	margin: 20px;
	background-image: url(../images/img12.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.footer{
  padding:2px;
  height: 10vh;
  background-color: white;
	background: green;
  color:white;
  font-family: Verdana;
  text-align: center;
  margin: 10px;
  grid-gap:10px;
}
.p2{
	text-align: justify;
	padding: 10px;
	display: inline-block;
	font-size: 20px;
	font-family: Garamond;
}
